body{
    margin: 0;    
padding-top:800px;
text-align: center;
background:linear-gradient(#60ebeb 0%,#9154d6 100%) ;

}
.MLIK{
    border-radius: 50%;
}
#MILK{
position: absolute;
display: table;
bottom: 0;
height: 100%;
width: 100%;

}
h1{
    font-size: 40px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    
}
h2{
    font-size: 10px;
}
.parallax-inner{
    display:table-cell;
}
.line{
    height: 6px;
    background-color: black;
    width: 20px;
    margin: 8px auto;
}
#bio{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px;
    
}
.menu{
  list-style: none;
  position:fixed;
  top: 0px;
  z-index: 10;  
  cursor: pointer;
  background-color:#60ebeb;
  margin-top: 0px;
  width: 100%;
}
.links{
display: inline;
    padding-left: 40px;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
}
.links:hover{
    background-color: rgb(0, 255, 64);
    font-size: 25px;
}
#WRITINGS1{
    text-decoration: underline;
    color: #9154d6;
}
#CONTACTS1{
    background-color:whitesmoke;
}